/* src/pages/LoginPage.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px); /* 100vh dikurangi tinggi navbar */
  background-color: #f4f4f4;
}

.login-form {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 30px;
}

.error-message {
    color: #a94442;
    background-color: #f2dede;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.login-form button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #E0B973;
}