/* src/components/Spinner.css */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 8px solid #f3f3f3; /* Warna dasar lingkaran */
  border-top: 8px solid #3498db; /* Warna untuk bagian yang berputar */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}